@page
@model Sheta.Web.Pages.Admin.Social.IndexModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/Admin_Layout.cshtml";
}

    <div class="main-content" id="panel">
        @await Component.InvokeAsync("NavbarGroupViewModel")
        <hr />
        <div class="container-fluid mt--6">
            <!-- Dark table -->
            <div class="row">
                <div class="col">
                    <div class="card bg-default shadow">
                        <div class="card-header bg-transparent border-0">
                            <h3 class="text-white mb-0">لیست شبکه ها</h3>
                            <a asp-page="createsocial" class="btn btn-success">افزودن شبکه</a>
                        </div>
                        <div class="table-responsive">
                            <table class="table align-items-center table-dark table-flush">
                                <thead class="thead-dark" style="font-size: medium!important;">
                                    <tr>
                                        <th scope="col" class="sort" data-sort="budget">عنوان</th>
                                        <th scope="col" class="sort" data-sort="status">آیکون</th>
                                        <th scope="col" class="sort" data-sort="status">لینک </th>
                                        <th scope="col" class="sort" data-sort="completion">دستورات</th>
                                    </tr>
                                </thead>
                                <tbody class="list">

                                    @foreach (var social in Model.SocViewModel.Socials)
                                    {
                                        <tr>

                                            <td>@social.SocialName</td>
                                            <td><i class="fa @social.SocialIcon"></i></td>
                                            <td>@social.SocialLink</td>
                                            <td>
                                                <a asp-page="editsocial" asp-route-id="@social.SociaId" class="btn btn-warning btn-sm">
                                                    ویرایش
                                                </a>
                                                <a asp-page="deletesocial" asp-route-id="@social.SociaId" class="btn btn-danger btn-sm">
                                                    حذف
                                                </a>
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>

                        <div class="card-footer py-4 shadow" style="        background-color: #263238;">
                            <nav aria-label="...">
                                <ul class="pagination justify-content-end mb-0">

                                    @for (int i = 1; i <= Model.SocViewModel.PageCount; i++)
                                    {
                                        <li class="page-item  @((i==Model.SocViewModel.CurrentPage)?"active":"")" aria-controls="dataTables-example" tabindex="0">
                                            <a class="page-link" href="/Admin/social?PageId=@i">@i</a>
                                        </li>
                                    }
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

